.site-wrapper{
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    letter-spacing: 2px;

    .header-container{
        height: 50px!important;
        width: 100%;
        background-color: #b82e34;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 999;
        span{
            font-size: 25px;
            font-weight: 500;
            color: black;
            margin-right: 20px;
            cursor: pointer;
            &:last-child{
                margin-right: 0;
            }
            &:hover{
                color: rgb(182, 182, 182);
            }
            &.selected{
                color: white;
            }
        }
    }
    .title-container{
        width: 100%;
        text-align: center;
        margin-bottom: 35px;
        .title{
            color: #b82e34;
            font-size: 40px;
            font-weight: 600;
            letter-spacing: 10px;
        }
    }
    .logo-container{
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }
    .music-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 50px;
        margin-bottom: 50px;
        margin-top: 10px;
        .album-cover-container{
            height: 450px;
            width: 450px;
            -webkit-box-shadow: -3px 1px 14px 3px rgba(0,0,0,0.35); 
            box-shadow: -3px 1px 14px 3px rgba(0,0,0,0.35);
            margin-bottom: 30px;
            img{
                height: 450px;
                width: 450px;
                cursor: pointer;
            }
        }
        .album-descr-container{
            text-align: center;
            p{
                margin-bottom: 0;
                color: white;
                font-weight: 200;
                &:last-child{
                    margin-bottom: 35px;
                }
                &.genre-text{
                    font-size: 25px;
                    font-weight: 600;
                    // margin-top: 6px;
                }
            }
        }
        .player-container{
            height: 450px;
            width: 800px;
        }
    }
    .photos-container{
        padding: 0 100px;
        margin-bottom: 25px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .main-img-container{
            margin-right: 30px;
            img{
                height: 400px;
                cursor: pointer;
            }
        }
        .more-imgs-container{
            display: flex;
            flex-direction: column;
            .row{
                margin-bottom: 30px;
                img{
                    height: 182px;
                    margin-right: 30px;
                    cursor: pointer;
                }
            }
        }
    }
    .youtube-player-wrapper{
        height: 400px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 50px;
        .player-container{
            margin-right: 50px;
        }
        .thumbnails-container{
            display: flex;
            flex-direction: column;
            width: 200px;
            height: 100%;
            justify-content: space-between;
            img{
                cursor: pointer;
                &.selected{
                    border: 2px solid #b82e34;
                }
            }
        }
    }
    .bio-wrapper{
        width: 100%;
        padding: 0 100px;
        text-align: center;
        margin-bottom: 25px;
        p{
            margin-top: 0px;
            color: white;
            font-weight: 200;
        }
    }
    .contact-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        color: white;
        .booking-mngmt-title{
            font-size: 22px;
            margin-bottom: 5px;
        }
        .text{
        
            margin-bottom: 5px;
        }
    }
}

@media (max-width: 720px) {
    .site-wrapper{
        .header-container{
            span{
                font-size: 14px;
            }
        }
        .title-container{
            .title{
            }
        }
        .logo-container{
            img{
                height: 160px;
            }
        }
        .music-container{
            .album-cover-container{
                height: 350px;
                width: 350px;
                img{
                    height: 350px;
                    width: 350px;
                }
            }
            .album-descr-container{
                text-align: center;
                p{
                    margin-bottom: 0;
                    color: white;
                    font-weight: 200;
                    &:last-child{
                        margin-bottom: 35px;
                    }
                    &.genre-text{
                        font-size: 25px;
                        font-weight: 600;
                        // margin-top: 6px;
                    }
                }
            }
            .player-container{
                width: 350px;
            }
        }
        .photos-container{
            padding: 0 30px;
            margin-bottom: 40px;
        }
        .youtube-player-wrapper{
            height: 400px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 50px;
            margin-top: 30px;
            padding: 0 30px;
            .player-container{
                margin-right: 0;
                margin-bottom: 30px;
            }
            .mySwiper{
                
            }
            .thumbnails-container{
                display: flex;
                flex-direction: row;
                width: 350px;
                height: 300px;
                justify-content: space-between;
                img{
                    height: 85px;
                    cursor: pointer;
                    &.selected{
                        border: transparent;
                    }
                }
            }
        }
        .bio-wrapper{
            width: 100%;
            padding: 0 30px;
            text-align: center;
            margin-bottom: 25px;
            p{
                margin-top: 0px;
                color: white;
                font-weight: 200;
            }
        }
        .contact-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 50px;
            color: white;
            .booking-mngmt-title{
                font-size: 22px;
                margin-bottom: 5px;
            }
            .text{
            
                margin-bottom: 5px;
            }
        }
    }
}