<div class="site-wrapper">
  <div class="header-container">
    <span>MUSIC</span>
    <span>PHOTOS</span>
    <span>VIDEOS</span>
    <span>BIO</span>
    <span>CONTACT</span>
  </div>
  <div class="logo-container">
    <img src="../assets/logo.png">
  </div>
  <div class="music-container">
    <div class="album-cover-container">
      <img src="../assets/album-cover.png" (click)="onPhotoClick('../assets/album-cover.png')">
    </div>
    <div class="album-descr-container">
      <p>Funkoholics is Bzaat 2nd album, And a result of 5 month of intense sessions where Hadar and Skippy threw all their craziness into one direction, Music.</p>
      <p>Funkoholics unites everything that Hadar and Skippy belives in, and with that they created a new genre of music:</p>
      <p class="genre-text">PSYCHOGAGI ROCK</p>
    </div>
    <div class="title-container">
      <span class="title">MUSIC</span>
    </div>
    <div class="player-container">
      <iframe [width]="videoPlayerWidth" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1206724&color=%23fa0302&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/ynagor" title="ynagor" target="_blank" style="color: #cccccc; text-decoration: none;"></a><a href="https://soundcloud.com/ynagor/sets/human-nature" title="Human Nature" target="_blank" style="color: #cccccc; text-decoration: none;"></a></div>    
    </div>
  </div>
  <div class="title-container">
    <span class="title">PROMO SHOOTS</span>
  </div>
  <div class="photos-container">
    <swiper [navigation]="true" class="mySwiper" *ngIf="isMobile">
      <ng-template swiperSlide>
        <img src="../assets/PromoMain.jpg">
      </ng-template>
      <ng-template swiperSlide>
        <img src="../assets/Promo1.jpg">
      </ng-template>
      <ng-template swiperSlide>
        <img src="../assets/Promo2.jpg">
      </ng-template>
      <ng-template swiperSlide>
        <img src="../assets/Promo3.jpg">
      </ng-template>
      <ng-template swiperSlide>
        <img src="../assets/Promo4.jpg">
      </ng-template>
    </swiper>
    <div class="main-img-container" *ngIf="!isMobile">
      <img src="../assets/PromoMain.jpg" (click)="onPhotoClick('../assets/PromoMain.jpg')">
    </div>
    <div class="more-imgs-container" *ngIf="!isMobile">
      <div class="row">
        <img src="../assets/Promo1.jpg" (click)="onPhotoClick('../assets/Promo1.jpg')">
        <img src="../assets/Promo2.jpg" (click)="onPhotoClick('../assets/Promo2.jpg')">
      </div>
      <div class="row">
        <img src="../assets/Promo3.jpg" (click)="onPhotoClick('../assets/Promo3.jpg')">
        <img src="../assets/Promo4.jpg" (click)="onPhotoClick('../assets/Promo4.jpg')">
      </div>
    </div>
  </div>
  <div class="title-container">
    <span class="title">VIDEOS</span>
  </div>
  <div class="youtube-player-wrapper">
    <div class="player-container">
      <youtube-player 
        [videoId] = selectedVideo
        suggestedQuality="highres" 
        [height]="videoPlayerHeight" 
        [width]="musicPlayerWidth" 
        [startSeconds]="0">
      </youtube-player>
    </div>
    <div class="thumbnails-container">
      <img src="../assets/bos-thumbnail.jpg" [ngClass]="{'selected': selectedVideo === 'QXJWiZ0VpaU'}" (click)="onVideoSelect('QXJWiZ0VpaU')">
      <img src="../assets/bulrul-thumbnail.jpg" [ngClass]="{'selected': selectedVideo === '4Q7Ukb0-Kk0'}" (click)="onVideoSelect('4Q7Ukb0-Kk0')">
      <img src="../assets/tzulelet-thumbnail.jpg" [ngClass]="{'selected': selectedVideo === 'U5BH0jBW1p8'}" (click)="onVideoSelect('U5BH0jBW1p8')">
    </div>
  </div>
  <div class="title-container">
    <span class="title">BIO</span>
  </div>
  <div class="bio-wrapper">
    <p>TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST
       TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST 
       TEST TEST TEST TEST TEST TEST TEST TEST TEST </p>
       <p>TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST
        TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST 
        TEST TEST TEST TEST TEST TEST TEST TEST TEST </p>
        <p>TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST
          TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST 
          TEST TEST TEST TEST TEST TEST TEST TEST TEST </p>
    <p>TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST </p>
  </div>
  <div class="title-container">
    <span class="title">CONTACT</span>
  </div>
  <div class="contact-container">
    <span class="booking-mngmt-title">BOOKING & MANAGEMENT (IL)</span>
    <span class="text">Yotam Nagor</span>
    <span class="text">bzaatband@gmail.com</span>
    <span class="text">+972 544 632534</span>

  </div>
</div>