.site-wrapper{
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    letter-spacing: 2px;

    .header-container{
        height: 50px!important;
        width: 100%;
        background-color: #b82e34;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        span{
            font-size: 25px;
            font-weight: 500;
            color: black;
            margin-right: 20px;
            cursor: pointer;
        }
    }
    .title-container{
        width: 100%;
        text-align: center;
        margin-bottom: 35px;
        .title{
            color: #b82e34;
            font-size: 40px;
            font-weight: 600;
            letter-spacing: 10px;

        }
    }
    .logo-container{
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }
    .music-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 50px;
        margin-bottom: 50px;
        margin-top: 10px;
        .album-cover-container{
            height: 450px;
            width: 450px;
            -webkit-box-shadow: -3px 1px 14px 3px rgba(0,0,0,0.35); 
            box-shadow: -3px 1px 14px 3px rgba(0,0,0,0.35);
            margin-bottom: 50px;
            img{
                height: 450px;
                width: 450px;
            }
        }
        .player-container{
            height: 450px;
            width: 800px;
        }
    }
    .photos-container{
        padding: 0 100px;
        margin-bottom: 25px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .main-img-container{
            margin-right: 30px;
            img{
                height: 400px;
            }
        }
        .more-imgs-container{
            display: flex;
            flex-direction: column;
            .row{
                margin-bottom: 30px;
                img{
                    height: 182px;
                    margin-right: 30px;
                }
            }
        }
    }
    .youtube-player-wrapper{
        height: 400px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 50px;
        .player-container{
            margin-right: 50px;
        }
        .thumbnails-container{
            display: flex;
            flex-direction: column;
            width: 200px;
            height: 100%;
            justify-content: space-between;
            img{
                cursor: pointer;
                &.selected{
                    border: 2px solid #b82e34;
                }
            }
        }
    }
    .bio-wrapper{
        width: 100%;
        padding: 0 100px;
        text-align: center;
        margin-bottom: 25px;
        p{
            margin-top: 0px;
            color: white;
            font-size: 20px;
        }
    }
    .contact-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        color: white;
        .booking-mngmt-title{
            font-size: 22px;
            margin-bottom: 5px;
        }
        .text{
        
            margin-bottom: 5px;
        }
    }
}