@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Bebas Neue', cursive;
  background-color: #313030;
}

*{
  font-family: 'Bebas Neue', cursive;
  box-sizing: border-box;
  direction: ltr;
}