
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$bzaat-epk-primary: mat.define-palette(mat.$indigo-palette);
$bzaat-epk-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$bzaat-epk-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$bzaat-epk-theme: mat.define-light-theme((
  color: (
    primary: $bzaat-epk-primary,
    accent: $bzaat-epk-accent,
    warn: $bzaat-epk-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($bzaat-epk-theme);
@import "~swiper/css";
@import '~swiper/scss/navigation';
@import '~swiper/scss/pagination';


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #313030;
}

*{
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  direction: ltr;
}

mat-dialog-container{
  padding: 10px 10px 4px 10px!important;
}

img{
  border-radius: 3px;
}

.swiper {
  width: 100%;
  height: 100%;
  --swiper-theme-color: #b82e34;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

